GOOGLE_MAPS_API_KEY="REPLACE_ME"
FIREBASE_WEB_API_KEY="REPLACE_ME"
FIREBASE_ANDROID_API_KEY="REPLACE_ME"
FIREBASE_IOS_API_KEY="REPLACE_ME"
FIREBASE_MACOS_API_KEY="REPLACE_ME"
FIREBASE_WINDOWS_API_KEY="REPLACE_ME"

FIREBASE_WEB_APP_ID="REPLACE_ME"
FIREBASE_ANDROID_APP_ID="REPLACE_ME"
FIREBASE_IOS_APP_ID="REPLACE_ME"
FIREBASE_MACOS_APP_ID="REPLACE_ME"
FIREBASE_WINDOWS_APP_ID="REPLACE_ME"

FIREBASE_WEB_MESSAGING_SENDER_ID="REPLACE_ME"
FIREBASE_ANDROID_MESSAGING_SENDER_ID="REPLACE_ME"
FIREBASE_IOS_MESSAGING_SENDER_ID="REPLACE_ME"
FIREBASE_MACOS_MESSAGING_SENDER_ID="REPLACE_ME"
FIREBASE_WINDOWS_MESSAGING_SENDER_ID="REPLACE_ME"

FIREBASE_PROJECT_ID="medlink-744a7"
FIREBASE_AUTH_DOMAIN="medlink-744a7.firebaseapp.com"
FIREBASE_STORAGE_BUCKET="medlink-744a7.firebasestorage.app"
FIREBASE_MEASUREMENT_ID="REPLACE_ME"
FIREBASE_IOS_BUNDLE_ID="com.example.medlink"
FIREBASE_MACOS_BUNDLE_ID="com.example.medlink"
